@mixin font($fw, $fs, $lh, $ls) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin flex {
  display: flex;
  align-items: center;
}

@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin retina {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}
