:root {
  --color-hoverfocus: #ff6b01;
  --color-red: #ff001b;
  --color-text-primary: #000000;
  --color-text-secondary: #8c8c8c;
  --color-text-orange: #ff6b08;
  --color-text-footer: #545454;
  --color-text-white: #ffffff;
  --color-background-footer: #f7f7f7;
  --color-background: #e5e5e5;
}
