<!-- <footer class="films-footer">
  <div class="films-footer__wrap container">
    <p>&#169 2020 <span
      class="films-footer__text films-footer__text--bordered">All Rights Reserved</span>
      <span
      class="films-footer__text">Developed with</span>
      <span class="heart-icon"><svg
        width="11"
      height="12.75"><use 
      href="./img/symbol-defs.svg#icon-Group"></use></svg></span>
    <span
      class="films-footer__text">
      by <a
      href=""
      class="films-footer__link">GoIT Students</a></span></p>
  </div>
</footer> -->
<footer >
  <div class="container">
    <div class="page__footer">
      <p class="copyright films-footer__text">&copy; 2022 | All Rights Reserved |&nbsp;</p>
      <div class="developers">
        <p class="films-footer__text">Developed with</p>
        <span class="heart-icon"><svg width="14" height="14">
            <use href="./img/symbol-defs.svg#icon-Group"></use>
          </svg></span>
        <p class="js-team-modal team-modal hover-target films-footer__text">by GoIT Students</p>
      </div>
    </div>
  </div>
</footer>