<header class="films-header films-header--library">
  <div class="films-header__wrap">
    <div class="films-header__nav-wrap">
      <a href="./index.html" class="films-header__link"><svg class="films-header__icon" width="24" height="24">
          <use href="./img/symbol-defs.svg#icon-film"></use>
        </svg>
        <span class="films-header__logo">Filmoteka</span></a>
      <nav class="films-header__nav">
        <ul class="films-header__nav-list">
          <li class="films-header__nav-item">
            <a href="./index.html" class="films-header__nav-link" id="data-href">home</a>
          </li>
          <li class="films-header__nav-item">
            <a href="" class="films-header__nav-link films-header__nav-link--current">my library</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="films-header__button-wrap" id="js-tags">
      <button type="button" class="films-header__button" data-watched>watched</button>
      <button type="button" class="films-header__button films-header__button-right" data-queue>queue</button>
    </div>
  </div>
</header>