<section class="pagination">
    <div class="container">
      <div class="pagination__box">
      <!-- <button class="pagination__link" id="prevBtn" ><svg class="pagination__icon" width="16px" height="16px">
        <use href="/src/img/symbol-defs.svg#icon-arrow-left2">
    
        </use>
    </svg></button> -->
        <ul class="pagination__list">
        
        </ul>
        <!-- <button class="pagination__link" id="nextBtn" ><svg class="pagination__icon" width="16px" height="16px">
          <use href="/src/img/symbol-defs.svg#icon-arrow-right2">
      
          </use>
      </svg></button> -->
        </div>
    </div>
</section>