<footer class="films-footer">
  <div class="films-footer__wrap container">
    <p>&#169 2020 <span
      class="films-footer__text films-footer__text--bordered">All Rights Reserved</span>
      <span
      class="films-footer__text">Developed with</span>
      <span class="heart-icon"><svg
        width="11"
      height="12.75"><use 
      href="./img/symbol-defs.svg#icon-Group"></use></svg></span>
   <span
      class="films-footer__text">
      by <a
      href=""
      class="films-footer__link">GoIT Students</a></span></p>
  </div>
</footer>