<header class="films-header films-header--home">
  <div class="films-header__wrap">
    <div class="films-header__nav-wrap">
      <a href="" class="films-header__link"
        ><svg class="films-header__icon" width="24" height="24">
          <use href="./img/symbol-defs.svg#icon-film"></use>
        </svg>
        <span class="films-header__logo">Filmoteka</span></a
      >
      <nav class="films-header__nav">
        <ul class="films-header__nav-list">
          <li class="films-header__nav-item">
            <a
              href=""
              class="films-header__nav-link films-header__nav-link--current"
              >home</a
            >
          </li>
          <li class="films-header__nav-item">
            <a href="./queue.html" class="films-header__nav-link">my library</a>
          </li>
        </ul>
      </nav>
    </div>
    <form class="films-header__search-form">
      <input
        class="films-header__input"
        type="text"
        name="searchQuery"
        placeholder="Movie search"
      />
      <button type="submit" class="films-header__search-button" data-search>
        <svg class="films-header__search-button-icon" width="12" height="12">
          <use href="./img/symbol-defs.svg#icon-search-2"></use>
        </svg>
      </button>
    </form>
    <div class="filter">
      <button class="genres_btn">genres</button>
      <button class="movies_btn">movies</button>
      <button class="rating_btn">rating</button>
    
    <div class="filter-genres">
      <ul id="myGenres" class="genres-content">
        <li class="genres-content_nav-item">
          <a href=" " class="genres-content_nav-link">Action</a>
        </li>
        <li class="genres-content_nav-item">
          <a href=" " class="genres-content_nav-link">Adventure</a>
        </li>
        <li class="genres-content_nav-item">
          <a href=" " class="genres-content_nav-link">Animation</a>
        </li>
        <li class="genres-content_nav-item">
          <a href=" " class="genres-content_nav-link">Comedy</a>
        </li>
        <li class="genres-content_nav-item">
          <a href=" " class="genres-content_nav-link">Crime</a>
        </li>
        <li class="genres-content_nav-item">
          <a href=" " class="genres-content_nav-link">Documentary</a>
        </li>
        <li class="genres-content_nav-item">
          <a href=" " class="genres-content_nav-link">Drama</a>
        </li>
        <li class="genres-content_nav-item">
          <a href=" " class="genres-content_nav-link">Family</a>
        </li>
        <li class="genres-content_nav-item">
          <a href=" " class="genres-content_nav-link">Fantasy</a>
        </li>
        <li class="genres-content_nav-item">
          <a href=" " class="genres-content_nav-link">History</a>
        </li>
        <li class="genres-content_nav-item">
          <a href=" " class="genres-content_nav-link">Horror</a>
        </li>
        <li class="genres-content_nav-item">
          <a href=" " class="genres-content_nav-link">Music</a>
        </li>
        <li class="genres-content_nav-item">
          <a href=" " class="genres-content_nav-link">Mystery</a>
        </li>
        <li class="genres-content_nav-item">
          <a href=" " class="genres-content_nav-link">Romance</a>
        </li>
        <li class="genres-content_nav-item">
          <a href=" " class="genres-content_nav-link">Science Fiction</a>
        </li>
        <li class="genres-content_nav-item">
          <a href=" " class="genres-content_nav-link">Thriller</a>
        </li>
        <li class="genres-content_nav-item">
          <a href=" " class="genres-content_nav-link">War</a>
        </li>
        <li class="genres-content_nav-item">
          <a href=" " class="genres-content_nav-link">Western</a>
        </li>
      </ul>
    </div>
    <div class="filter-movies">
      <ul id="myMovies" class="movies-content">
        <li class="movies-content_nav-item">
          <a href=" " class="movies-content_nav-link">1960-1980</a>
        </li>
        <li class="movies-content_nav-item">
          <a href=" " class="movies-content_nav-link">1980-1990</a>
        </li>
        <li class="movies-content_nav-item">
          <a href=" " class="movies-content_nav-link">1990-2000</a>
        </li>
       <li class="movies-content_nav-item">
          <a href=" " class="movies-content_nav-link">2000-2010</a>
        </li>
        <li class="movies-content_nav-item">
          <a href=" " class="movies-content_nav-link">2010-2020</a>
        </li>
        <li class="movies-content_nav-item">
          <a href=" " class="movies-content_nav-link">2020-2030</a>
        </li>
      </ul>
    </div>
    <div class="filter-rating">
      <ul id="myMovies" class="rating-content">
        <li class="rating-content_nav-item">
          <a href=" " class="rating-content_nav-link">5-6</a>
        </li>
        <li class="rating-content_nav-item">
          <a href=" " class="rating-content_nav-link">6-7</a>
        </li>
        <li class="rating-content_nav-item">
          <a href=" " class="rating-content_nav-link">7-8</a>
        </li>
        <li class="rating-content_nav-item">
          <a href=" " class="rating-content_nav-link">8-9</a>
        </li>
      </ul>
    </div>
  </div>
</header>
