<section class="pagination">
    <div class="container">
      <div class="pagination__box">
      <button class="pagination__link" id="prevBtn" >Prev</button>
        <ul class="pagination__list">
            <!-- <li class="pagination__item" id="prevItem" >
                <button class="pagination__link" id="prevBtn" >Prev</button>
              </li>
              <li class="pagination__item" id="nextItem" >
                <button class="pagination__link" id="nextBtn" >Next</button>
              </li> -->
        </ul>
        <button class="pagination__link" id="nextBtn" >Next</button>
        </div>
    </div>
</section>