<div class="toolbar container">
 
    <div class="theme-switch">
      <svg class="theme-switch__icon" role="img" aria-label="icon sun">
        <use href="#"></use>
      </svg>
  
      <div class="theme-switch__control">
        <input
          class="theme-switch__toggle"
          type="checkbox"
          name="theme"
          id="theme-switch-toggle"
          aria-label="Switch between dark and light theme"
        />
        <label
          aria-hidden="true"
          class="theme-switch__track"
          for="theme-switch-toggle"
        >
        </label>
        <div aria-hidden="true" class="theme-switch__marker"></div>
      </div>
  
      <svg class="theme-switch__icon" aria-label="icon moon">
        <use href="#"></use>
      </svg>
    </div>
  </div>