.basicLightbox {
    overflow: scroll;
}

.team-wrapper {
    display: flex;
    flex-wrap: wrap;

    margin: -20px;

    max-height: 95%;
    overflow: auto;

    @media screen and (max-width: (768px - 1)) {
        margin-top: 70px;
    }

    width: 240px;

    // background-color: #534f4f;
    border-radius: 15px;

    @media screen and (min-width: 768px) {
        width: 600px;

        border-radius: 25px;
    }

    @media screen and (min-width: 1280px) {
        margin: -30px;

        width: 800px;
    }
}

.team-card {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: 20px;

    width: calc((100% - 80px) / 2);

    @media screen and (min-width: 768px) {
        width: calc((100% - 160px) / 4);
    }

    @media screen and (min-width: 1280px) {
        margin: 30px;

        width: calc((100% - 240px) / 4);
    }
}

.team-card:nth-child(9) {
    @media screen and (min-width: 768px) {
        margin-left: 160px;
    }

    @media screen and (min-width: 1280px) {
        margin-left: 220px;
    }
}

.team-image {
    z-index: 100;
    position: relative;
    margin-bottom: 10px;

    width: 100%;

    border-radius: 50%;
    box-shadow: 5px 5px 11px -2px #ff6b08;
}

.team-name {
    margin-bottom: 5px;
    color: #fff;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.team-role {
    font-family: 'Roboto';
    color: #ff6b08;
    font-weight: 900;

    @media screen and (max-width: (768px - 1)) {
        font-size: 14px;
    }

}

.team-link {

    transition: transform, 250ms cubic-bezier(0.4, 0, 0.2, 1);

    transform: scale(1);

    &:hover,
    &:focus {
        transform: scale(1.15);
    }
}

// footer

.team-modal {
    text-decoration: underline;

    cursor: pointer;
}

.github__icon {
    @media screen and (max-width: (1280px - 1)) {
        display: none;
    }

    z-index: 50;
    position: absolute;
    top: 93px;
    left: 90px;
    fill: #ff6b08;

    transform: translate(0px, 0px);
    transition: transform,
    250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card:hover,
.team-card:focus {
    .github__icon {

        transform: translate(15px, 55px);
    
    }
}