.custom-select {
  font-family: Roboto;
  margin: 0 auto;
}
.select {
  font-size: 12px;
  color: #000;

  background-color: #e5e5e5;
  border: 6px solid transparent;
  border-color: #e5e5e5 transparent;
  border-radius: 5px;
}
.select:focus,
.select:hover {
  outline: none;
  color: #fff;
  background-color: #ff6b01;
  border-color: #ff6b01 transparent;
}
