/* Genres Button */
.rating_btn,
.movies_btn,
.genres_btn {
  background-color: #fe7031;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* genres button on hover & focus */
.genres_btn:hover,
.genres_btn:focus {
  background-color: #fe9e31;
}
.movies_btn:hover,
.movies_btn:focus {
  background-color: #fe9e31;
}
.rating_btn:hover,
.rating_btn:focus {
  background-color: #fe9e31;
}

/* The container <div> - needed to position the genres content */
.filter-genres,
.filter-movies,
.filter-rating {
  position: relative;
  display: inline-block;
}
/* Genres content (Hidden by Default) */
.genres-content,
.movies-content,
.rating-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 230px;
  border: 1px solid #ddd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the genres */
.genres-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.movies-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.rating-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of genres links on hover */
.genres-content a:hover {
  background-color: #c0c0c0c0;
}
.movies-content a:hover {
  background-color: #c0c0c0c0;
}
.rating-content a:hover {
  background-color: #c0c0c0c0;
}
/* Show the dropdown menu on hover */
.filter:hover .genres-content {
  display: block;
}
.filter-movies:hover .movies-content {
  display: block;
}
.filter-rating:hover .rating-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.filter-genres:hover .genres_btn {
  background-color: #fe9e31;
}
.filter-movies:hover .movies_btn {
  background-color: #fe9e31;
}
.filter-rating:hover .rating_btn {
  background-color: #fe9e31;
}
