.films-footer {
    
    background:  var(--color-background-footer);
    max-width: 100%;
    text-align: center;
font-family: 'Roboto';
    color: var(--color-text-footer);

  }

  .films-footer__wrap {
padding-top: 30px;
padding-bottom: 30px;
max-width: 1280px;

  }
  .films-footer__wrap.container {
    @media screen and(max-width: 320px) {
      max-width: 100%;
    }
  
  }


  .films-footer__text {
    display: inline-block;
    padding: 5px 0;
  }

  .films-footer__text--bordered {
    position: relative;
    padding: 0 0.3em;

  }


  .films-footer__text--bordered::before {
    content: '';
    position: absolute;
    transform: translateY(-15%);
    left: 0;
    bottom: 0;
    width:0.5px ;
    height: 0.8em;
    background: var(--color-text-footer);

  }


  .films-footer__text--bordered::after {
    content: '';
    position: absolute;
    transform: translateY(-15%);
    right: 0;
    bottom: 0;
    width:0.5px ;
    height: 0.8em;
    background: var(--color-text-footer);

  }
  .films-footer__link {
    text-decoration: underline;
    color: currentColor;
  }
  .heart-icon {
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    width: 1.25em;
    height: 1.2em;
    background-color: #0077ff;
    border-radius: 50%;
  }

