// .queue {
//   background: rgb(219,162,144);
// background: linear-gradient(342deg, rgba(219,162,144,0.8183648459383753) 7%, rgba(230,154,39,0.6558998599439776) 52%, rgba(171,41,12,0.7063200280112045) 87%);
//   background-repeat: no-repeat;
//   background-size: cover;
// }

.gallery__list {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.gallery__item {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1280px) {
    width: calc((100% - 60px) / 3);
  }
}
.film_title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: calc(24 / 20);
  }
}
.film_text {
  color: #ff6b08;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: calc(16 / 12);

  text-align: left;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: calc(24 / 20);
  }
}
.img {
  height: 400px;
  width: 280px;
  display: block;
  border-radius: 5px;
  margin-bottom: 10px;

  width: 100%;
  @media screen and (min-width: 768px) {
    width: 340px;
    height: 455px;
  }
  @media screen and (min-width: 1280px) {
    width: 400px;
    height: 570px;
  }
}
