.gallery {
  flex: 1 1 auto;
  margin: 0 auto;
}
.gallery__list {
  display: grid;
  grid-template-columns: repeat(1, minmax(320px, 1fr));
  grid-gap: 30px;
  max-width: 95vw;
  padding-top: 20px;
  padding-bottom: 20px;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(320px, 1fr));
  }

  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(3, minmax(320px, 1fr));
  }
}

.film_title {
  width: 280px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  @media screen and (min-width: 768px) {
    width: 340px;
  }
  @media screen and (min-width: 1280px) {
    width: 400px;
    font-size: 20px;
    line-height: calc(24 / 20);
  }
}

.film_text {
  color: #ff6b08;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: calc(16 / 12);
  text-align: left;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: calc(24 / 20);
  }
}

.img {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 340px;
    height: 455px;
  }
  @media screen and (min-width: 1280px) {
    width: 400px;
    height: 570px;
  }
}

.gallery__item:hover .img {
  position: relative;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.77);
  transform: scale(1.05) skew(1deg) rotate(2deg);
  transition: transform(scale) 1500ms cubic-bezier(0.85, 0.67, 0.04, 0.4);
}

.film_text_border {
  border-right: 1px solid;
  padding-right: 5px;
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: calc(24 / 20);
  }
}
