.films-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: 'Roboto';

    box-shadow: 7px 7px 13px -1px #ff6b08;

}

.films-header--home {

    background-image: url('../img/abstract-background-with-red-lines\ 1.jpg');

 @include retina {
     background-image: url('../img/abstract-background-with-red-lines\ 1@2x.jpg');
 }

 @include tablet {
     background-image: url('../img/Tb_abstract-background-with-red-lines\ 1.jpg');
     @include retina {
         background-image: url('../img/Tb_abstract-background-with-red-lines\ 1@2x.jpg');
     }
 }

 @include desktop {
     background-image: url('../img/Ds_abstract-background-with-red-lines\ 1.jpg');
     @include retina {
         background-image: url('../img/Ds_abstract-background-with-red-lines\ 1@2x.jpg');
     }
 }

 @media screen and (min-width: 1600px) {
     background-image: url('../img/abstract-background-with-red-lines\ 1@2x.jpg');
     background-repeat: repeat;
     background-size: auto;
 }

}


.films-header--library {
    background-image: url('../img/Rectangle\ 1.jpg');
    text-align: center;
    @include retina {
        background-image: url('../img/Rectangle\ 1@2x.jpg');
    }
    @include tablet {
        background-image: url('../img/Tb_Rectangle\ 1.jpg');
        @include retina {
            background-image: url('../img/Tb_Rectangle\ 1@2x.jpg');
        }
    }
    @include desktop {
        background-image: url('../img/Ds_Rectangle\ 1.jpg');
        @include retina {
            background-image: url('../img/Ds_Rectangle\ 1@2x.jpg');
        }
    }

    @media screen and (min-width: 1600px) {
        background-image: url('../img/Rectangle\ 1@3x.jpg');
        background-repeat: repeat;
        background-size: contain;
    }
}

.films-header__wrap {
  
    max-width: 100%;
    padding: 10px;

    margin: 0 auto;

@media screen and(min-width: 320px) {
width: 320px;

    padding-top: 40px;
padding-bottom: 92px;
    padding-left: 20px;
    padding-right: 22px;
 
}
 @include mobile {
   width: 480px;     
      }
    
      @include tablet {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 80px;
        }
    
      @include desktop {
        width: 1220px;
      }
    }

.films-header__logo {
    color: var(--color-background-footer);
    font-weight: 500;
    font-size: 30px;
    line-height: calc(35 / 30);
    margin-left: 8px;
    @media screen and (max-width: 480px) {
        display: none;
    }
   
}

.films-header__nav-wrap {
    display: flex;
    margin-bottom: 60px;
}


.films-header__nav {
    margin-left: auto;
}

.films-header__nav-list {
    display: flex;
}

.films-header__nav-item + .films-header__nav-item {
    margin-left: 10px;
    @media screen and(min-width: 320px) {
        margin-left: 39px;
    }
    }
   

.films-header__nav-link {
    position: relative;
    padding: 15px 0 6px;
font-weight: 500;
font-size: 12px;
line-height: calc(14 / 12);
text-transform: uppercase;
color:var(--color-text-white);

}

.films-header__nav-link--current::after  {
    content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 3px;
        background: var(--color-red);
      }


.films-header__search-form {
    position: relative;
    @media screen and (max-width: 767.98px) {
       max-width: 336px; 
    }
    max-width: 394px;
    margin: 0 auto;
    border-bottom:0.5px solid #fff;

}

.films-header__input {
    
    @media screen and (min-width: 320px) {
        min-width: 280px;
    }
    padding: 0 0 4px; 

background: rgba(232, 225, 225, 0);
border: none;
color: var(--color-text-white);
&:focus {
    outline: none;
    &::placeholder {
        color: rgba(248, 248, 248, 0);
    }
}
}

.films-header__input::placeholder {
line-height: 16px;
color: var(--color-text-white);
}

.films-header__search-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    background-color: rgba(239, 230, 230, 0);
    border: none;
}

.films-header__button {
    padding-top: 14px;
    padding-bottom: 12px;
   @media screen and (min-width: 320px) {
    min-width: 120px;
   }

   @include mobile {
    min-width: 130px;
   } 
   @include tablet {
    min-width: 150px;
   }
    
        font-weight: 500;
    font-size: 12px;
    line-height: calc(16 / 12);
    color: var(--color-text-white);
    border: 1px solid #fff;
    border-radius: 5px;
        text-transform: uppercase;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0);
        }
    
        .films-header__button-right {
            @media screen and (min-width: 320px) {
                margin-left: 20px;

            }
        }
        .tags__btn--active {
            border: none;
            background-color: var(--color-hoverfocus);
            box-shadow: 0px 0px 32px 6px #ff6b01bd;
            -webkit-box-shadow: 0px 0px 32px 6px #ff6b01bd;
            -moz-box-shadow: 0px 0px 32px 6px #ff6b01bd;     }
   
    
