.pagination {
  padding-top: 40px;
  padding-bottom: 40px;
  @include tablet {
  padding-top: 60px;
  padding-bottom: 60px;
  
  }
}
.pagination__box{
 @include flex;
 justify-content: center;
}
.pagination__list {
    @include flex;
    justify-content: center;
    // height: 40px;
}

  .pagination__button {
    padding: 13px;
   
    @include font(500, 12, 1.33, normal);
    font-family: 'Roboto';
    display: block;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: inherit;
  }
  .pagination__item {
    background-color: #fff;
  }
  .pagination__button--active, 
  .pagination__button:hover
   {
    // color: var(--color-text-white);
    background-color: var(--color-hoverfocus);
    color: #fff;
  }
.pagination__item:not(:last-child){
  margin-left: 5px;
}
  .arrow {
    padding: 12px;
    background: pink;
    border-radius: 5px;
    border: transparent;
    cursor: pointer;
   
  }
// .pagination__link:first-child{
//   margin-right: 10px;
// }
// .pagination__link:last-child{
//   margin-left: 10px;}

.pagination__icon:hover,
.pagination__icon:focus {
  fill: var(--color-hoverfocus);
}

.pagination__dots {
  display:none;
  @include tablet {
    display: block;
  }
}
// .arrow[disabled]{
//   // color: #d2d5db;
//   background: lightgrey;
//   cursor: not-allowed;
//   pointer-events: none;
// }

